<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Folktales. All rights reserved.</li>
    <li>Design: <a href="https://github.com/victor-iyiola">Victor I. Afolabi</a></li>
  </ul>
</footer>

</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>