<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Folktales</title>
</head>
<body>
  <div class="container">

    <nav class="main-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="main-section">
      {% block body %}
      {% endblock %}
    </div>

    <footer class="main-footer">
      <p>Copyright &copy; 2018. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
