<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title> {% block title %}Folktales{% endblock %} </title>

  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href={{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
</head>
<body class="landing">
<div id="page-wrapper">

  <!-- Header -->
  {% include '_includes/_header.html' %}

  {% block body %}
  {% endblock %}

{% include '_includes/_footer.html' %}