<!DOCTYPE HTML>
<html>
<head>
  <title> {% block title %}Folktales{% endblock %} </title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href={{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
</head>
<body class="landing">
<div id="page-wrapper">

  <!-- Header -->
  <header id="header">
    <h1 id="logo"><a href="/">Landed</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">Layouts</a>
          <ul>
            <li><a href="/left-sidebar/">Left Sidebar</a></li>
            <li><a href="/right-sidebar/">Right Sidebar</a></li>
            <li><a href="/no-sidebar/">No Sidebar</a></li>
            <li>
              <a href="#">Submenu</a>
              <ul>
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
                <li><a href="#">Option 4</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="/elements/">Elements</a></li>
        <li><a href="#" class="button special">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  {% block body %}
  {% endblock %}


  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>

</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>