<!-- Newsletter -->
<section id="{{ id }}" class="wrapper style2 special fade">
  <div class="container">
    <header>
      <h2>Subscribe to our Newsletter</h2>
      <p>Wanna subscribe to our weekly newsletter? We do not spam!</p>
    </header>
    <form method="post" action="{{ url_for('newsletter') }}" class="container 50%">
      <div class="row uniform 50%">
        <div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address"/>
        </div>
        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Subscribe" class="fit special"/></div>
      </div>
    </form>
  </div>
</section>