{%- extends 'layouts/generic.html' %}

{% block title -%}{{ story['title'] }}{%- endblock %}
{% block description -%}{%- endblock %}

{% block body -%}
  <!-- Analysis -->
  <div class="4u 12u$(medium)">
    <section id="sidebar">
      <h3>Analysis Breakdown</h3>
      <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse
        euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam
        gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
      <ul>
        <li>Faucibus orci lobortis ac adipiscing integer.</li>
        <li>Col accumsan arcu mi aliquet placerat.</li>
        <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
        <li>Blandit massa non blandit tempor interdum.</li>
        <li>Lacinia mattis arcu nascetur lobortis.</li>
      </ul>
    
      <hr/>
      <section>
        <a href="#" class="image fit"><img src="images/pic06.jpg" alt=""/></a>
        <h4>Characters</h4>
         <p>Here are some characters in <strong>{{ story['title'] }}:<strong></p>
          <ul>
            {% for character in results['characters'] -%}
            <li>{{ character }}</li>
            {%- endfor %}
          </ul>
        <footer>
          <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul>
        </footer>
      </section>
    
      <hr/>
      <section>
        <a href="#" class="image fit"><img src="images/pic06.jpg" alt=""/></a>
        <h4>Songs</h4>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed
          tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        <footer>
          <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
          </ul>
        </footer>
      </section>
    </section>
  </div>
  <!-- Content -->
  <div class="8u$ 12u$(medium) important(medium)">

    <!-- Content -->
    <section id="content">
      <a href="#" class="image fit"><img src="images/pic05.jpg" alt=""/></a>
      <h3>Title: {{ story['title'] }}</h3>
      {% for body in story['body'][1:] %}
        <p>{{ body }}</p>
      {% endfor %}

    </section>
  </div>
{%- endblock %}