{% extends 'layouts/main.html' %}

{% block title -%} Home {%- endblock %}

{% block body -%}
  <!-- Banner -->
  <!--suppress HtmlUnknownAnchorTarget -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>Folktale narrative analyzer</h2>
        <p>Analyzes Yoruba stories and present a graphical <br/>
          representation of the specific elements</p>
      </header>
      <span class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt=""/></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
  </section>

  <!-- Stories -->
  {%- set ids = ['one', 'two', 'three', 'four', 'five', 'six'] %}
  {% for title, story in stories.items() %}
    <!-- {{ title }} -->
    <section class="spotlight style{{ loop.cycle('1', '2', '3') }} {{ loop.cycle('right', 'left') }}"
             id="{{ ids[loop.index0] }}">
      <span class="image fit main">
        <img src="{{ url_for('static', filename='images/pic0%s.jpg'|format(loop.revindex)) }}" alt="{{ title }}">
      </span>
      <div class="content">
        <header>
          <h2><a href="{{ url_for('analysis', title=title) }}">{{ title|title }}</a></h2>
          <p>About {{ title|lower() }}</p>
        </header>
        <p>{{ story[1]|capitalize|truncate(255, end='...') }}</p>
        <ul class="actions">
          <li><a href="{{ url_for('analysis', title=title) }}" class="button">Read More</a></li>
        </ul>
      </div>
      <a href="#{{ ids[loop.index] }}" class="goto-next scrolly">Next</a>
    </section>
  {% endfor %}

  {#- Newsletter #}
  {% with id='six' -%}
    {%- include "_includes/_newsletter.html" with context %}
  {%- endwith %}

{%- endblock body %}
